:root {
  --clr-body: #f1f5f8;
  --clr-main-heading: #102a42;
  --clr-price: #617d98;
  --clr-remove-btn: #2680c0;
  --clr-item-amount-background: #85c6f4;
  --clr-clear: #bb2525;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-body);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
